.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  display: flex;
  justify-content: center;
}

.book {
  background-image: linear-gradient(
      105deg,
      #ffffffe6 0%,
      #ffffffe6 50%,
      transparent 50%
    ),
    url("../public/nat-4.jpg");
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem #00000033;
  width: 80%;
}

.book__form {
  width: 55%;
  padding: 6rem;
}

.form {
}

.form__element:not(:last-child) {
  margin-bottom: 2rem;
}
.form__label {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  transition: all 0.3s;
}

.form__input {
  display: block;
  width: 90%;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  border: none;
  padding: 1.5rem 2rem;
  background-color: #ffffff80;
  border-bottom: 3px solid transparent;
  border-radius: 3px;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
  box-shadow: 0 1rem 2rem rgba(#000, 0.1);
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__radio {
  width: 49%;
  display: inline-block;
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}
.form__radio-input {
  display: none;
}
.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -0.4rem;
  left: 0;
}

.form__radio-button::after {
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  background-color: #55c57a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewX(15deg) skewY(2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem #00000033;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem #00000033;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem #00000033;
}

.btn--green {
  background: #55c57a;
  color: #fff;
}

.btn--green::after {
  background: #55c57a;
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
